body {
	/* ALways show the scroll bar; helps window width
	   stay constant when navigating between views */
	overflow: scroll;
}

.dark {
	border-color: #d9d9d9;
}

.bg-red {
	background-color: red;
}
.bg-green {
	background-color: green;
}
.bg-blue {
	background-color: blue;
}

.no-padding {
	padding: 0;
}
.no-padding-left {
	padding-left: 0;
}
.no-padding-right {
	padding-right: 0;
}

.full-width {
	width: 100%;
}

.input-group.full-width {
	/* Allow the jumbotron to actually show on 
	   the sides of the input group */
	padding-right: 7px;
	padding-left: 7px;
}

.icon-logo {
	position: relative;
	top: 7px;
}
.icon-logo:before {
	content: url('/favicon-32x32.png');;
}

.centered-pills {
    text-align: center;
}
.centered-pills > li, .centered-pills > li {
    float: none;
    display: inline-block;
}

.jumbotron-small {
	padding: 12px 5px;
	background-color: #eee;
	border-radius: 5px;
	margin-bottom: 20px;
}

.todo-item {
	margin-bottom: -1px;
}
/* A lot of overrides to prevent the badges 
   from changing colors when hovered */
.todo-item :hover {
	background-color: #eee;
}
.todo-item > div :hover {
	background-color: #777;
}
.todo-item > div:hover > .bg-red {
	background-color: red;
}
.todo-item > div:hover > .bg-blue {
	background-color: blue;
}
.todo-item > div:hover > .bg-green {
	background-color: green;
}
.todo-item > .form-control {
	/* Wrap todo to description height */
	height: 100%;
}

.todo-badge {
	margin-right: 2px;
	margin-left: 2px;
}