/* Mobile specific styling */
@media screen and (max-width: 767px) {
	.header {
		margin-bottom: 15px;
	}
	.header h3 {
		text-align: center;
		padding-bottom: 10px;
	}

	.jumbotron-small {
		margin: 0 auto;
		width: 95%;
	}

	.centered-pills {
		margin-bottom: 15px;
	}
	
	.todo-item .col-sm-8 {
		padding-bottom: 7px;
	}

	.main-logo {
		height: 45px;
		margin-top: -8px;
	}
}

/* Tablet + Desktop specific styling */
@media screen and (min-width: 767px) {
	.todo-item .form-control {
		/* A little more vertical padding on todo items for larger devices */
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.edit-form {
		/* Ensure the edit todo form is the same height as the todo itself */
		margin-top: -5px; 
		margin-bottom: -5px;
	}
}
