/* Mobile specific styling */
@media screen and (max-width: 767px) {
	.header {
		margin-bottom: 15px;
	}
	.header h3 {
		text-align: center;
		padding-bottom: 10px;
	}

	.jumbotron-small {
		margin: 0 auto;
		width: 95%;
	}

	.centered-pills {
		margin-bottom: 15px;
	}
	
	.todo-item .col-sm-8 {
		padding-bottom: 7px;
	}

	.main-logo {
		height: 45px;
		margin-top: -8px;
	}

	#feedback {
		display: none;
	}
}

/* Tablet + Desktop specific styling */
@media screen and (min-width: 767px) {

	/* Don't style the navbar-brand on mobile - there's a 'Home' link for that! */
	.navbar-brand.active {
		color: #fff !important;
		background-color: #080808 !important;
	}


	.todo-item .form-control {
		/* A little more vertical padding on todo items for larger devices */
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.edit-form {
		/* Ensure the edit todo form is the same height as the todo itself */
		margin-top: -5px; 
		margin-bottom: -5px;
	}

	#feedback {
		position: fixed;
		top: 50%;
		right: -35px;
		padding: 6px 14px;
		z-index: 999;

		border-radius: 5px;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		border: 1px solid black;
		background-color: #222;

		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);

		font-size: 17px;
		text-decoration: none;
		color: #fff;
	}
	#feedback:hover {
		box-shadow: 0px 0px 3px 1px #00f300;
	}
}
