/* Put any custom media CSS in here */

@media screen and (max-width: 767px) {
	.header {
		margin-bottom: 15px;
	}
	.header h3 {
		text-align: center;
		padding-bottom: 10px;
	}

	.jumbotron-small {
		margin: 0 auto;
		width: 95%;
	}

	.centered-pills {
		margin-bottom: 15px;
	}

	.input-group.full-width {
		margin: 0 auto;
		width: 80%;
	}
}