.todo-item.ng-enter {
	-webkit-transition: 0.5s ease-out all;
	-moz-transition: 0.5s ease-out all;
	-o-transition: 0.5s ease-out all;
	transition: 0.5s ease-out all;
	opacity: 0;
}
.todo-item.ng-enter.ng-enter-active {
	opacity: 1;
}

/*.todo-item.ng-leave {
	-webkit-transition: 0.5s ease-in all;
	-moz-transition: 0.5s ease-in all;
	-o-transition: 0.5s ease-in all;
	transition: 0.5s ease-in all;
	opacity: 1;
}
.todo-item.ng-leave.ng-leave-active {
	opacity: 0;
}*/