<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Prioritize</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- favicons and device specific icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="Prioritize">
    <link rel="icon" type="image/png" href="images/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#00f000">
    <meta name="msapplication-TileImage" content="images/mstile-144x144.png">
    <meta name="application-name" content="Prioritize"> 
    <!-- end favicons and device specific icons -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/custom.css" />
    <link rel="stylesheet" href="styles/custom_anim.css" />
    <link rel="stylesheet" href="styles/custom_media.css" />
    <!-- endbuild -->

    <!-- Commented because html5historyprovider is disabled for now -->
    <!-- Define the base path for a hrefs
    <base href="#/"> -->
  </head>

  <body ng-app="myTodoAngularApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- navigation -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <!-- Toggle navbar button -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">
                    <div>
                        <img src="images/favicon-32x32.png" style="margin-top: -5px">
                        Prioritize
                    </div>
                    <!-- <span style="vertical-align: center">Prioritize</span> -->
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active hidden-sm hidden-md hidden-lg"><a href="#/">Home</a></li>
                    <li><a href="#/todo-list">Todo List</a></li>
                    <li><a href="#/help">Help</a></li>
                    <li><a href="#/about">About</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right" ng-controller="LoginBarController">
                    <li ng-if="user.firstName">{{ user.firstName }}</li>
                    <li ng-if="user.firstName"><a onclick="logout()">Logout</a></li>
                    <li ng-if="!user.firstName"><a href="#/login">Login</a></li>
                    <li>{{ hello }}</li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end navigation -->

    <!-- content -->
    <div class="container">
        <div class="header">

            <div ng-view=""></div>

            <!-- footer -->
            <div class="footer">
                <p>&copy; 2014 Brendan Batliner</p>
            </div>
            <!-- end footer -->
        </div>
        <!-- feedback button -->
        <a href="" data-toggle="modal" data-target="#feedbackModal">
            <div id="feedback">Feedback</div>
        </a>
        <!-- end feedback button -->


        <!-- feedback modal -->
        <div class="modal fade" id="feedbackModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="feedbackModalLabel">Feedback Form</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="feedbackEmail">Email address (optional)</label>
                                <input type="email" class="form-control" id="feedbackEmail">
                            </div>
                            <div class="form-group">
                                <label for="feedbackCategory">Category of feedback</label>
                                <select class="form-control" id="feedbackCategory">
                                    <option value="Suggestions">Suggestions</option>
                                    <option value="Comments">Comments</option>
                                    <option value="Bugs & Errors">Bugs & Errors</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="feedbackFeedback">Leave feedback here:</label>
                                <textarea class="form-control" id="feedbackFeedback"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="sendFeedback()" id="submitFeedbackButton">Send feedback</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end feedback modal -->

    </div>
    <!-- end content -->

    <!-- End site or application content -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57756529-1', 'auto');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/noty/js/noty/packaged/jquery.noty.packaged.js"></script>
    <script src="bower_components/datejs/build/production/date.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-date/src/date.js"></script>
    <script src="bower_components/bootbox/bootbox.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/help.js"></script>
    <script src="scripts/controllers/todo.js"></script>
    <script src="scripts/controllers/signup.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/loginBar.js"></script>
    <!-- endbuild -->


    <!-- index.html specific jQuery helpers -->
    <script>
        // When the hash changes (Angular serves pages based on the hash)
        // Adjust the active navbar component
        $(function() {
            $(window).bind('hashchange', function() {
                // Remove any currently active classes from the nav bar
                $('.navbar .active').removeClass('active');
                // Add the active class to the tab with the same href as the current hash
                $('.nav a[href="' + window.location.hash + '"]').parent('li').addClass('active');
                // Special case for home page
                if (window.location.hash === '#/') {
                    $('.navbar-brand').addClass('active');
                }
                // Special case for login/signup
                if (window.location.hash === '#/signup') {
                    $('nav a[href="#/login"]').parent('li').addClass('active');
                }
                // Click outside the nav bar so anything that has focus loses it
                // $('.container').click();
            }).trigger('hashchange');
            // trigger once on page load
        });

        function logout() {
            $.post('/api/logout', function() {
                noty({ type: 'success', text: 'Successfully logged out.' });
                setTimeout(function() {
                    window.location.reload();
                }, 500);
            });
        }

        function sendFeedback() {
            var email = 
            {
                name: 'PrioritizeUser',
                email: $('#feedbackEmail').val(),
                subject: 'Prioritize ' + $('#feedbackCategory').val(),
                message: $('#feedbackFeedback').val()
            };

            // Set the submit button to a loader GIF
            var oldContent = $('#submitFeedbackButton').html();
            $('#submitFeedbackButton').html('<img src="images/ajax-loader.gif" width="16" height="16">');

            $.post('/api/send-feedback', email)
                .done(function(data) {
                    noty({ type: 'success', text: 'Thank you for leaving your feedback!', timeout: 1500 });
                    // Clear inputs and close modal
                    $('#feedbackEmail').val('');
                    $('#feedbackFeedback').val('');
                    $('#feedbackModal').modal('hide');
                })
                .error(function(data) {                
                    noty({ type: 'error', text: 'Error ' + data.responseJSON.status + ': ' + data.responseJSON.error, timeout: 1500 });
                })
                .always(function() {
                    // Set the submit button back to its old content
                    $('#submitFeedbackButton').html(oldContent);
                });
        }
    </script>

</body>
</html>
