<div class="row marketing" style="margin-top: 10px">

	<h3>Welcome, and thank you for visiting!</h3>

	<h4>Who made this?</h4>
	<p>
		I did, of course! My name is Brendan Batliner, and I'm a senior in high school. I've always had a passion for productivity - <em>Prioritize</em> is a tool I hope helps everyone become more productive.
	</p>

	<h4>What is this app, anyway?</h4>
	<p>
		<em>Prioritize</em> will begin as a modern todo list for both desktop and mobile devices and evolve into a full prioritization suite (see the features on the home page for more information).
	</p>

	<h4>How can I help?</h4>
	<p>
		For now, <em>Prioritize</em> is a solo project for me. So, if you're interested in helping, simply use the site! If you come across any bugs or glitches, please send me an email at <a href="mailto:prioritize.app@gmail.com">prioritize.app@gmail.com</a> and I will do my best to fix the issue.
	</p>

</div>