<div class="jumbotron spacer">
  <h1>Are you ready to<br><em><img src="images/favicon-96x96.png" class="main-logo">Prioritize?</em></h1>
  <p class="lead">
    It's about time - to take back your time.
  </p>
  <p><a class="btn btn-lg btn-success" href="#/todo-list">Get started now!</span></a></p>
</div>

<div class="row marketing">
  <h4>Modern Personal Task Management</h4>
  <p>
    Immerse yourself in a sleek and intuitive todo list application that has been designed from the ground-up with productivity in mind.
  </p>

  <h4>Premium Organization Tools (coming soon)</h4>
  <p>
    Projects, sub-tasks, & task dependencies - organize your tasks and never lose track of what's important to you.
  </p>

  <h4>Task Prioritization (Coming Soon)</h4>
  <p>
    <em>Prioritize</em> analyzes your tasks and uses advanced productivity research to order your tasks in the order you should do them. No more wasting time figuring out what to do next!
  </p>
  
</div>
