<!-- NEW TODO ITEM INPUT -->

<!-- new task label -->
<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-3 control-label" style="text-align:left; margin-bottom:-5px">Add new todo</label>
	</div>
</form>
<!-- end new task label -->

<!-- new task input form -->
<div class="row">
	<div class="jumbotron-small">
		<div class="input-group full-width">

			<!-- description input -->
			<div class="col-sm-6 no-padding">
				<input class="form-control" ng-model="newTodoText" type="text" placeholder="New todo description">
			</div>
			<!-- end description input -->

			<!-- priority dropdown -->
			<div class="col-sm-2 no-padding">
				<select class="form-control" ng-model="newTodoPriority">
					<option value="" disabled selected class="hidden">Priority</option>
					<option value="1">High</option>
					<option value="2">Medium</option>
					<option value="3">Low</option>
				</select>
			</div>
			<!-- end priority dropdown -->

			<!-- due date selector -->
			<div class="col-sm-3 no-padding">
				<input class="form-control" id="newTodoDate" type="date" ng-if="inputTypeDateSupported">
				<input class="form-control" id="newTodoDate" placeholder="mm/dd/yyyy &#9662;" ui-date ng-if="!inputTypeDateSupported">
			</div>
			<!-- end due date selector -->

			<!-- add button --> <!-- float: left is for Firefox on a small (phone + tablet) viewport -->
			<div class="col-sm-1 no-padding" style="float: left">
				<div class="input-group-btn">
					<button class="btn btn-default full-width" type="button" ng-click="addNewTodo()">
						<i class="glyphicon glyphicon-plus"></i>
					</button>
				</div>
			</div>
			<!-- end add button -->

		</div>
	</div>
</div>
<!-- end new task input form -->

<!-- END NEW TODO ITEM INPUT -->


<!-- divider between sections -->
<hr class="dark">
<!-- end divider between sections -->

<!-- TODO SORT DROPDOWN -->
<form class="form-horizontal">
	<div class="form-group">

		<!-- label for todo list -->
		<label class="col-sm-3 control-label" style="text-align:left;">Todo List</label>
		<div class="col-sm-1">
			<!-- Include an invisible input so that "Todo List" and "Sort by:" get placed on separate lines on mobile devices -->
			<input style="display: none;"></input>
		</div>
		<!-- end label for todo list -->

		<!-- "sort by" dropdown -->
		<label for="sort" class="col-sm-2 col-sm-offset-3 control-label" style="padding-right:0px; font-weight: normal">Sort by:</label>
		<div class="col-sm-3">
			<select id="sort" class="form-control" ng-model="todoSortBy">
				<option value="description">Alphabetical</option>
				<option value="duedate">Date</option>
				<option value="priority">Priority</option>
			</select>
		</div>
		<!-- end "sort by" dropdown -->

	</div>
</form>
<!-- END TODO SORT DROPDOWN -->

<!-- TODO LIST -->
<div id="todoList">

	<!-- no todos placeholder -->
	<div id="placeholder" class="well" ng-if="todos.length == 0">
		<span>You have no todos! Add one above!</span>
	</div>
	<!-- end no todos placeholder -->

	<!-- todo list foreach -->
	<div class="input-group todo-item full-width full-height" ng-repeat="todo in todos | orderBy: todoSortBy track by todo.id">

		<!-- checkbox for item -->
		<span class="input-group-btn full-height" ng-hide="isEditing">
			<!-- when the button is clicked, keep the button in the 'active' state (the todo is being removed soon, anyways) -->
			<button class="btn btn-default btn-todo-check full-height" type="button" ng-click="finishTodo(todos.indexOf(todo))" onClick="$(this).addClass('active')">
				<i class="glyphicon glyphicon-ok"></i>
			</button>
		</span>
		<!-- end checkbox for item -->

		<!-- todo item -->
		<div class="form-control">

			<!-- view todo -->
			<div class="row" ng-hide="isEditing">

				<!-- description -->
				<div class="col-sm-8 no-padding-left word-wrap">
					{{todo.description}}
				</div>
				<!-- end description -->

				<!-- badges -->
				<div class="col-sm-4 no-padding-right">

					<!-- edit button -->
					<span class="pull-right icon-button">
							<i class="glyphicon glyphicon-pencil" ng-click="startEditingTodo(this)"></i>
						</button>
					</span>
					<!-- end edit button -->

					<!-- date badge -->
					<span class="badge todo-badge date-badge pull-right" style="width:108px">
						{{getDateString(todo.duedate)}}
					</span>
					<!-- end date badge -->

					<!-- priority badge -->
					<span class="badge todo-badge pull-right" ng-class="priorityColorClass(todo.priority)">
						{{todo.priority}}
					</span>
					<!-- end priority badge -->

				</div>
				<!-- end badges -->

			</div>
			<!-- end view todo -->

			<!-- edit todo -->
			<div class="input-group full-width" ng-show="isEditing">

				<!-- description input -->
				<div class="col-sm-5 no-padding">
					<input class="form-control input-sm" type="text" ng-model="editDescription">
				</div>
				<!-- end description input -->

				<!-- priority dropdown -->
				<div class="col-sm-2 no-padding">
					<select class="form-control input-sm" ng-model="editPriority">
						<option value="" disabled selected class="hidden">Priority</option>
						<option value="1">High</option>
						<option value="2">Medium</option>
						<option value="3">Low</option>
					</select>
				</div>
				<!-- end priority dropdown -->

				<!-- due date selector -->
				<div class="col-sm-3 no-padding">
					<!-- Woahhh! ng-if creates a child scope! Mind blown! So we use $parent to get the editTodoDate object out of the parent scope -->
					<input class="form-control input-sm" ng-model="$parent.editDueDate" type="date" ng-if="inputTypeDateSupported">
					<input class="form-control input-sm" ng-model="$parent.editDueDate" placeholder="mm/dd/yyyy &#9662;" ui-date ng-if="!inputTypeDateSupported">
				</div>
				<!-- end due date selector -->

				<!-- add button --> <!-- float: left is for Firefox on a small (phone + tablet) viewport -->
				<div class="col-sm-2 no-padding" style="float: left">
					<div class="input-group-btn">
						<button class="btn btn-default btn-sm half-width" type="button" ng-click="cancelEditingTodo(this)">
							<i class="glyphicon glyphicon-remove"></i>
						</button>
						<button class="btn btn-default btn-sm half-width" type="button" ng-click="saveEditingTodo(this)">
							<i class="glyphicon glyphicon-floppy-disk"></i>
						</button>
					</div>
				</div>
				<!-- end add button -->

			</div>
			<!-- end edit todo -->

		</div>
		<!-- end todo item -->

	</div>
	<!-- end todo list foreach -->

</div>
<!-- END TODO LIST -->

<!-- divider between sections -->
<hr style="visibility: hidden !important">
<!-- end divider between sections -->

<!-- DONE TODO HEADER -->
<form class="form-horizontal">
	<div class="form-group">

		<!-- label for todo list -->
		<label class="col-sm-3 control-label" style="text-align:left;">
			Done Todos
			<span class="icon-button">
				<i ng-class="getShowDoneTodosIconClass()" ng-click="toggleShowDoneTodos()"></i>
			</span>
		</label>
		<div class="col-sm-1">
			<!-- Include an invisible input so that "Done Todos" and "Sort by:" get placed on separate lines on mobile devices -->
			<input style="display: none;"></input>
		</div>
		<!-- end label for todo list -->

		<!-- "sort by" dropdown -->
		<div ng-if="showDoneTodos">
			<label for="sort" class="col-sm-2 col-sm-offset-3 control-label" style="padding-right:0px; font-weight: normal">Sort by:</label>
			<div class="col-sm-3">
				<!-- inside an ng-if, so we need to get to the parent scope to access doneTodoSortBy -->
				<select id="sort" class="form-control" ng-model="$parent.doneTodoSortBy">
					<option value="description">Alphabetical</option>
					<option value="duedate">Date</option>
					<option value="priority">Priority</option>
				</select>
			</div>
		</div>
		<!-- end "sort by" dropdown -->

	</div>
</form>
<!-- END DONE TODO HEADER -->


<!-- DONE TODO LIST -->
<div id="todoList" ng-if="showDoneTodos">

	<!-- no todos placeholder -->
	<div class="well" ng-if="doneTodos.length == 0">
		<span>You haven't finished any todos! Add some and complete them!</span>
	</div>
	<!-- end no todos placeholder -->

	<!-- done todo items -->
	<div class="input-group todo-item full-width full-height" ng-repeat="todo in doneTodos | orderBy: doneTodoSortBy track by todo.id">


		<!-- arrow move back up -->
		<span class="input-group-btn full-height" ng-hide="isEditing">
			<!-- when the button is clicked, keep the button in the 'active' state (the todo is being removed soon, anyways) -->
			<button class="btn btn-default btn-todo-check full-height" type="button" ng-click="reAddTodo(doneTodos.indexOf(todo))" onClick="$(this).addClass('active')">
				<i class="glyphicon glyphicon-arrow-up"></i>
			</button>
		</span>
		<!-- end arrow move back up -->	

		<!-- todo item -->
		<div class="form-control">

			<!-- view todo -->
			<div class="row" ng-hide="isEditing">

				<!-- description -->
				<div class="col-sm-8 no-padding-left word-wrap">
					{{todo.description}}
				</div>
				<!-- end description -->

				<!-- badges -->
				<div class="col-sm-4 no-padding-right">

					<!-- delete button -->
					<span class="pull-right icon-button">
							<i class="glyphicon glyphicon-trash" ng-click="deleteTodo(doneTodos.indexOf(todo))"></i>
					</span>
					<!-- end delete button -->

					<!-- date badge -->
					<span class="badge todo-badge date-badge pull-right" style="width:108px">
						{{getDateString(todo.duedate)}}
					</span>
					<!-- end date badge -->

					<!-- priority badge -->
					<span class="badge todo-badge pull-right" ng-class="priorityColorClass(todo.priority)">
						{{todo.priority}}
					</span>
					<!-- end priority badge -->

				</div>
				<!-- end badges -->

			</div>
			<!-- end view todo -->

		</div>
		<!-- end todo item -->

	</div>
	<!-- end done todo items -->

</div>
<!-- END DONE TODO LIST -->
